In [1]:
import pandas as pd
import numpy as np
import os, sys

In [10]:
path = os.path.dirname(os.path.realpath('__file__'))

sys.path.insert(0, path)

from Chi2_Test import Chi2_Test_in_DF

In [12]:
DF = pd.read_excel(r'Independencia.xls')


DF

                          Desordem Afetiva   Esquizofrenia   Neurose
Atividade Retardada                      12              13         5
Atividade Não Retardada                  18              17        25

In [13]:

Results_of_test = Chi2_Test_in_DF(DF).Results

Results_of_test

5.7
There is evidence that all classes
 have the same proportion (n° of occurence)

Chi2                   5.7
P_value          0.0578443
H0 acceptance         True
dtype: object